

body{background-color: white;
    position: relative;
    display:grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secund princip princip"
    "rodap rodap rodap"

}
header{
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.snoop{
    position: auto;
    width: 300px;
}
header nav li{
    text-align: center;
}

.toba{text-align:left;}

aside{
    margin: 10px;
    position: relative;
    grid-area: secund;
    background-color: darkgrey
}

main{
    margin: 10px;
    position: relative;
    background-color: #333;
    grid-area: princip;
    height: auto;
}

footer{
    margin: 10px;
    position: relative;
    background-color: cadetblue;
    grid-area: rodap;
    height: 150px;
    
}

@media(max-width:800px) {
    header{
        flex-direction: column;
        background-color: brown;
    }
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: grey;
    transition: 0.5s;
}
.card img{
    width: 200px;
    border-radius: 5px;
}
.card a{
    border-radius: 30px;
    background-color: black;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
    transition: 1s;
}
.card:hover{
    background-color: darkgreen;
}
.card a:hover{
    background-color: black;
    color: rgb(12, 7, 0);
}
.card2{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: grey;
    transition: 0.5s;
}
.card2 a{
    border-radius: 30px;
    background-color: grey;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
    transition: 1s;
}
.card2 img{
    width: 200px;
    border-radius: 5px;
}
.card2:hover{
    background-color:rgb(12, 7, 0);
}
.card2 a:hover{
    background-color: grey;
    color: rgb(12, 7, 0);
}
.card3{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: grey;
    transition: 0.5s;
}
.card3 a{
    border-radius: 30px;
    background-color: darkgreen;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
    transition: 1s;
}
.card3 img{
    width: 200px;
    border-radius: 5px;
}
.card3:hover{
    background-color: grey;
}
.card3 a:hover{
    background-color: rgb(119, 128, 211);
    color: rgb(12, 7, 0);
}
