ody{background-color: black;
    position: relative;
    display:grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secund princip princip"
    "rodap rodap rodap"

}
header{
    background-color: #333;
    color: green;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    width: 100%;
    grid-area: cabeca;

}

header img{
    height: 200px;
    left: 3px ;
}

.toba{text-align:left;}

nav.menu-lateral{
    width: 90px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 green;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 1s ;
}

ul li.item-menu:hover{
    background: green;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}   


main{
    margin: 10px;
    position: relative;
    background-color: #333;
    grid-area: princip;
    height: auto;
}
/* Estilo para a imagem do carrinho */

p { 
    left: 0px;
    max-width: 600px; /* Defina a largura máxima desejada aqui */
    margin: 0 right; /* Isso centraliza o parágrafo na página */
}

footer{
    text-align: center;
    left: 0px;
    margin: 10px;
    background-color: #333;
    grid-area: rodap;
    height: relative; 
    color: green; 
     
}
footer p{
    text-align: left;
    text-shadow: #202020;
}
@media only screen and (max-width: 400px){
    body{
        grid-template-areas:
        "cabeca"
        "secund"
        "princip"
        "rodap";
        grid-template-columns: auto;border: 2px ;
        grid-template-rows: auto 200px auto auto;

    }
}


.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: grey;
    transition: 0.5s;
}
.card img{
    width: 200px;
    border-radius: 5px;
}
.card a{
    border-radius: 30px;
    background-color: black;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
    transition: 1s;
}
.card:hover{
    background-color: darkgreen;
}
.card a:hover{
    background-color: black;
    color: rgb(12, 7, 0);
}
